<h2><a href="/tube/">Hypertube</a></h2>
<form action="/tube/" method="get">
    <input type="search" id="q" name="q" value="{{ q }}">
    <input type="submit" value="search">
</form>
{% if tag %}
    <a href="/tube/?tag={{ tag }}">#{{ tag }}</a>
{% endif %}
<p>{{ video_count }} videos</p>
{% if videos %}
    {% for video in videos %}
        <p><a href="/tube/watch/{{ video.id }}/">{{ video.title }}</a></p>
    {% endfor %}
{% else %}
    <p>No videos are available.</p>
{% endif %}

<a href="/tube/upload/">Upload video</a>